@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html{
    font-family: 'Roboto', sans-serif;
}

body {
    min-height: 100vh; /* body covers at least the full viewport */
    height: auto; 
    background: #383838 url('../assets/Pitt_image.jpeg') no-repeat center center;
    background-size: cover;

    font-family: 'Roboto', sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: rgba(25, 25, 25, 0.5);
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
}


p {
    line-height: 1.6;
}

ul li {
    margin-bottom: 10px;
}

@media (max-width: 450px) {
    .top_nav_bar {
        position: relative;
    }

    .top_nav_bar a {
        font-size: large;
    }

    embed {
        height: 550px;
    }

    footer {
        display: none;
    }
}