.top_nav_bar {
    position: fixed;
    padding: 30px;
}

.nav_links {
    display: flex;
    align-items: center;
}

.nav_links a {
    margin-left: 20px;
    text-decoration: none;
    font-size: 16px;
    color: white;
}

a:hover {
    color: #007bff;
}