@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


body {
    min-height: 100vh; /* body covers at least the full viewport */
    height: auto; 
    background: #383838 url('../assets/pexels-pixabay-270366.jpg') no-repeat center center;
    background-size: cover;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}


.resume-header {
    text-align: center;
    padding: 20px 0;
    background-color: rgba(25, 25, 25, 0.5);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: larger;
}

.resume-section {
    max-width: 750px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    background-color: #383838;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
